{% extends 'layout/layout.twig' %}

{% block content %}
<h1>会員検索</h1>
    <table class="table">
    <tr>
        <th>ID</th>
        <th>名前</th>
        <th>ふりがな</th>
        <th>メールアドレス</th>
        <th>誕生日</th>
    </tr>
    {% for member in members %}
    <tr>
        <td>{{ member.id }}</td>
        <td>{{ member.name }}</td>
        <td>{{ member.name_kana }}</td>
        <td>{{ member.mail_address }}</td>
        <td>{{ member.birthday }}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock content %}
